.game-container {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(6, 6, 55);
}

.half-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border-right: 1px solid black; */
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.half-container:hover {
  cursor: pointer;
  background-color: rgb(10, 10, 109);
}

.half-container:active {
  background-color: rgb(115, 222, 115);
}

.country-name-left {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-family: ui-monospace;
}

.country-name-right {
  position: absolute;
  top: 15%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: ui-monospace;
}

.capital-city-left {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-family: ui-monospace;
  font-size: 22px;
}

.capital-city-right {
  position: absolute;
  top: 20%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: ui-monospace;
  font-size: 22px;
}

.flag-container-left {
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: 213px;
  width: 320px;
  font-size: 100px;
}

.flag-container-right {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 213px;
  width: 320px;
}

.flag {
  border-radius: 12px;
}

.population-left {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-family: system-ui;
  font-weight: bold;
}

.population-right {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-family: system-ui;
  font-weight: bold;
}

.streak {
  position: absolute;
  top: 30%;
  left: 48%;
  color: white;
  font-size: 30px;
  font-family: ui-monospace;
  font-weight: bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.answer-validation {
  position: absolute;
  top: 40%;
  left: 47.6%;
  font-size: 100px;
  border-radius: 20px;
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

.gameover-page {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(6, 6, 55);
}

.gameover-prompt-container {
  position: absolute;
  height: 400px;
  top: 35%;
  left: 47%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 6px solid red;
  background-color: rgb(239, 160, 160);
  border-radius: 20px;
}

.gameover-prompt {
  font-size: 40px;
  font-family: ui-monospace;
  font-weight: bold;
  padding: 10px;
  padding-top: 60px;
  color: rgb(10, 10, 109);
}

.try-again-button {
  position: absolute;
  height: 40px;
  width: 150px;
  top: 50%;
  left: 38.5%;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: ui-monospace;
  background-color: rgb(10, 10, 109);
  transition: background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.try-again-button:hover {
  background-color: green;
  cursor: pointer;
  transform: scale(1.15);
}
