.game-container {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
}

.half-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid black;
}

.flag-container-left {
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 300px;
  border: 1px solid black;
  font-size: 100px;
}

.flag-container-right {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 300px;
  border: 1px solid black;
}
