.game-container {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(6, 6, 55);
}

.half-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border-right: 1px solid black; */
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.half-container:hover {
  cursor: pointer;
  background-color: rgb(10, 10, 109);
}

.half-container:active {
  background-color: rgb(115, 222, 115);
}

.country-name-left {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.country-name-right {
  position: absolute;
  top: 15%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.capital-city-left {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.capital-city-right {
  position: absolute;
  top: 20%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.flag-container-left {
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: 213px;
  width: 320px;
  font-size: 100px;
}

.flag-container-right {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 213px;
  width: 320px;
}

.flag {
  border-radius: 12px;
}

.population-left {
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.population-right {
  position: absolute;
  top: 55%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.streak {
  top: 30%;
  left: 48%;
  position: absolute;
  color: white;
  font-size: 30px;
}
